function Main.main 2
push constant 10
pop local 0
push constant 20
pop local 1
push local 0
push local 1
call Main.PrintInt 2
pop temp 0
push constant 0
return
function Main.PrintInt 0
push argument 0
push argument 1
add
call Output.printInt 1
pop temp 0
push constant 0
return
